$cyan:hsl(180, 66%, 49%);
$dark-violet:hsl(257, 27%, 26%);
$red:hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
.container{
    padding-left: 15%;
    padding-right: 15%;
}
.square-btn{

}
.round-btn{

}
#hero{
    padding-left: 10%;
    img{
      width: 100%;
      height: auto;
    }
    h1{
        font-size: 10vw;
        color: $very-dark-blue;
    }
    p{
        font-size: 2em;
        color: $grayish-violet;

    }
}
#body{
    background: #EFF1F7;
    text-align: center;
    h1{
        color: $very-dark-blue;
    }
    p{
        color: $grayish-violet;
        font-size: 1.5em;
        max-width: 600px;
        margin: 0 auto;
    }
    #cards-container{
        text-align: left;
        padding-top: 100px;
        padding-bottom: 100px;
    }

}
#pre-footer{
    background-color: $dark-violet;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px 10%;
}
footer{
    text-align: center;
    background: $very-dark-violet;
    padding: 50px 0;
    p{
        color: white;
        font-weight: bold;
    }
    a{
       color: $gray;
       display: block;
       text-decoration: none;
       margin: 12px 0;
       &:hover{
           color:$cyan;
       }
    }
    .partisions{
        margin-top: 40px ;
        p{
            margin-top: 35px
        };
    }
    #socials{
        display: flex;
        justify-content:center;
        gap: 20px;
        .icon{
            fill: white;
            &:hover {
                fill: $cyan;
            }
        }
    }

}
//Tablet
@media screen and (min-width: 480px) {
    footer{
        #link-container {
            display: flex;
            justify-content: center;
            text-align: left;
            gap: 40px;
        }
    }
    
}
//laptops
@media screen and (min-width: 768px) {  
    #hero{
        display: flex;
        flex-direction: row-reverse;
        h1 {
            font-size: 4vw;
        }
    }
    footer {
        display: flex;
        justify-content: space-between;
            .partisions {
                p { margin-top: 12px;}
            }
    }
}
//Desktops
@media screen and (min-width: 1024px) {
    footer {

    }
}
//TV
@media screen and (min-width: 1200px) {

}